=form_tag '/search', :method => :post do
  
  =label :search_label, :search_label, 'Input your search term:'
  =text_field '', 'search_term'

  =submit_tag 'Search!'

=@results.each do |result|
  =link_to result.title, "http://www.ncbi.nlm.nih.gov/pubmed/#{result.id.to_s}"
  =result.date
  =result.abstract
  
