%div{:class => "login", :id => "login"}= link_to "Google Login", "http://www.google.com" 

%h1 Search PubMed's database

=form_tag '/search', :method => :get do

  = label :search_label, :search_label, 'Input your search term:'
  = text_field '', :search_term
  %br
  %br
  = submit_tag 'Search!'

