.content
  = render :partial => 'google'
  = render :partial => 'search_box'
  %br
  %br

  %h2="Preference Page"
  =form_tag '/user/add_preference', :method => :post do
    =label :preferences, :preferences, "Input your preference here: "
    =text_field '', :preference, :value => @saved_preference
    %br
    %br
    =submit_tag "Save Preference"
