.content
  = render :partial => 'google'
  = render :partial => 'search_box'
  %br
  %br

  %h2="Preference Page"
  =form_tag '/user/add_pref', :method => :get do
    =label :preferences, :preferences, "Input your preference here: "
    =text_field '', :preference
    %br
    %br
    =submit_tag "Add Preference"
