.content
  = render :partial => 'google'
  = render :partial => 'search_box'
  %br
  %br
  %h2 Saved Articles
  -if @saved_articles.nil? or @saved_articles.length == 0
    %p{:align =>'center'} "No saved articles."
  -@saved_articles.each do |result|
    %div{:class => 'article'}
      %p{:class => 'article_title'}=link_to result.title, "http://www.ncbi.nlm.nih.gov/pubmed/#{result.id.to_s}"
      %p{:class=> "save-article-button delete-article", :article_id => result.id, :user_id => current_user.id, :id => "article#{result.id}"}='Delete Article'

      %br
      %br

