.content
  = render :partial => 'google'
  = render :partial => 'search_box'
  %br
  %br
  %h2 Saved Articles
  -if @saved_articles.nil? or @saved_articles.length == 0
    %p{:align =>'center'} "No saved articles."
  -@saved_articles.each do |result|
    %div{:class => 'article'}
      %p{:class => 'article_title'}=link_to result.title, "http://www.ncbi.nlm.nih.gov/pubmed/#{result.id.to_s}"
      =link_to "Delete Article", delete_article_path(:article_id => result.id, :js => 0), :class=> "delete-article", :article_id => result.id, :id => "article#{result.id.to_s}"

      %br
      %br

