<!DOCTYPE html>
<html>
<head>
  <title>Drufus</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/assets/logo-bar.png">
 
</head>
<body>

<%= yield %>

</body>
</html>
